---
import Layout from "../layouts/Layout.astro";
import "../styles/main.css";

---
<Layout>
    <article class="container-article-monument">
        <div class="article-historia">
            <h2>Història</h2>
            <p>
                La Ciutadella de Barcelona va ser una fortalesa militar construïda per ordre del rei Felip V després de la derrota de la ciutat durant la Guerra de Successió el 1714. La seva construcció, iniciada el 1716, va ser una de les conseqüències més simbòliques i visibles de la Nova Planta, un conjunt de decrets amb què la monarquia borbònica eliminava les institucions catalanes i reforçava el control absolutista sobre el territori.
              </p>
              <p>
                La ciutadella va ser dissenyada com una estructura de control i intimidació sobre la població barcelonina. A diferència d'altres fortificacions que protegien les ciutats dels enemics externs, aquesta servia per controlar els mateixos ciutadans. De fet, per a la seva construcció es van enderrocar més de 1.200 habitatges del barri de la Ribera, desplaçant una part significativa de la població. Aquest desmantellament d'un barri sencer va deixar una empremta social profunda i encara recordada.
              </p>
              <p>
                L'edifici tenia forma d'estrella de cinc puntes, envoltat de fossats, baluards i espais defensius. A dins hi havia casernes, polvorins i espais per allotjar fins a 8.000 soldats. Des del punt de vista militar, la ciutadella representava una de les fortaleses més grans d'Europa del seu temps. Però per als barcelonins, esdevingué sobretot un símbol d'ocupació, repressió i control polític.
              </p>
              <p>
                Al llarg del segle XIX, amb l'auge dels moviments liberals i la fi de l'absolutisme, la ciutadella va perdre importància militar. L'any 1869, després de la Revolució Gloriosa i la caiguda d'Isabel II, el general Prim va ordenar la seva demolició com a gest simbòlic de reconciliació amb la ciutat. En el seu lloc, s'hi va projectar un parc públic, que acabaria esdevenint el **Parc de la Ciutadella** que coneixem avui dia.
              </p>
              <p>
                L'actual parc conserva algunes restes de la fortalesa original, com l'antic arsenal, que avui és la seu del Parlament de Catalunya. Aquest fet dóna al lloc un significat històric molt potent: un espai que va ser símbol d'opressió ha estat transformat en centre de representació democràtica i convivència ciutadana.
              </p>
        </div>
        <div class="article-galeria">
            <h2>Galeria</h2>
            <img src="/media/img/monuments/Image1.png" alt="Vista general del recinte">
        </div>
        <div class="article-video">
            <h2>Vídeo</h2>
            <div class="video-wrapper">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/W1m_xQjRo5k?si=jfARe68_-e9l82Rf" title="Vídeo Ciutadella Ibèrica de Calafell" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="article-saber-mes">
            <h2>Per Saber-ne Més</h2>
            <p>
                Per conèixer més a fons la història de la Ciutadella de Barcelona, el seu paper com a instrument de control militar i polític, així com la seva transformació en parc i seu del Parlament, et recomanem els següents recursos.
              </p>
              <ul>
                <li><a href="https://www.barcelona.cat/museuhistoria/ca/la-ciutadella" target="_blank">Museu d’Història de Barcelona – La Ciutadella</a></li>
                <li><a href="https://parlament.cat/web/parlament/edifici" target="_blank">Parlament de Catalunya – L’edifici del Parlament</a></li>
                <li><a href="https://ca.wikipedia.org/wiki/Ciutadella_de_Barcelona" target="_blank">Viquipèdia: Ciutadella de Barcelona</a></li>
                <li><a href="https://ajuntament.barcelona.cat/arxiumunicipal/arxiuhistoric/ca/parc-de-la-ciutadella" target="_blank">Arxiu Històric – Parc de la Ciutadella</a></li>
              </ul>
        </div>
      </article>
</Layout>

<style>
    

</style>